* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

body {
    /* font-size: 18px; */
    overflow-x: hidden;
}

.menu, .close-menu, .bg-img-mobile {
    display: none;
}

header {
    margin: auto;
    height: 10vh;
    /* width: 100vw; */
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-header {
    position: absolute;
    left: 10vw;
    top: 3.5vh;
}

.navbar {
    position: relative;
    top: 3.5vh;
    text-align: center;
}

.nav-home {
    margin: 0 1.3vw;
    color: hsl(233, 8%, 62%);
    text-decoration: none;
}

.nav-about {
    margin: 0 1.3vw;
    color: hsl(233, 8%, 62%);
    text-decoration: none;
}
.nav-contact {
    margin: 0 1.3vw;
    color: hsl(233, 8%, 62%);
    text-decoration: none;
}
.nav-blog {
    margin: 0 1.3vw;
    color: hsl(233, 8%, 62%);
    text-decoration: none;
}
.nav-careers {
    margin: 0 1.3vw;
    color: hsl(233, 8%, 62%);
    text-decoration: none;
}

.nav-home:hover, .nav-about:hover, .nav-contact:hover, .nav-blog:hover, .nav-careers:hover {
    text-decoration: underline;
    text-underline-offset: 4.4vh;
    text-decoration-color: hsl(136, 65%, 51%);
    text-decoration-thickness: 0.4vh;
}

.header-btn {
    position: absolute;
    right: 11vw;
    top: 2.5vh;
}


.home-section {
    margin: auto;
    height: 90vh;
    /* width: 100vw; */
    /* background-color: lightcyan; */
    display: flex; 
    flex-direction: row;
}
.home-container {
    /* flex-grow: 5.7; */
    /* background-color: blueviolet; */
    margin: auto;
    height: 50vh;
    width: 35vw;
    margin-left: 10vw;
    /* padding: 5vh 12vh 10vh 0; */
}

#home-h1 {
    font-size: 6.8vh;
    /* letter-spacing: 0.3vh; */
    font-weight: 130;
    padding: 3vh 0 1.5vh 0;
    text-align:left;
}

#home-p {
    font-size: 2.1vh;
    line-height: 3vh;
    padding: 1.5vh 3.4vh 1.5vh 0;
    text-align:left;
    color: hsl(233, 8%, 62%);
}

#home-btn {
    margin: 1.5vh 1.5vh 3vh 0;
}

.home-imgs {
    /* flex-grow: 6.3; */
    /* background-color: aqua; */
    /* margin: auto; */
    height: 80vh;
    width: 65vw;
}

.bg-img {
    /* height: 30vh;
    width: 30vh; */
    height: 110vh;
    width: 58vw;
    /* margin-top: -27vh;
    margin-right: -200vw; */
    position: absolute;
    right: -6vw;
    top: -15vh;
    z-index: 0;
}

.mockup-img {
    height: 110vh;
    width: 45vw;
    position: absolute;
    top: -4vh;
    right: -7.6vw;
    /* display: block; */

    /* margin-left: 30vw; */
    z-index: 1;
}


main {
    height: 185vh;
    width: 100vw;
}

.services-section {
    background-color: whitesmoke;
    height: 80vh;
    width: 100vw;
    padding-left: 10vw;
    padding-top: 12vh;
}

.services-text {
    padding: 0 50vw 0 0;
    text-align: left;
}

.services-h2 {
    font-size: 4.5vh;
    font-weight: 130;
    padding-bottom: 3vh;
}

.services-p {
    font-size: 2.2vh;
    line-height: 3.5vh;
    color: hsl(233, 8%, 62%);
}

.services-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding-top: 11vh;
    padding-right: 10vw;
}

#service1, #service2, #service3, #service4 {
    text-align: left;
    padding-right: 2vw;
    /* overflow-y: auto; */
    /* white-space: nowrap; */
}

#service1 > img, #service2 > img, #service3 > img, #service4 > img  {
    margin: 0 2vh 3vh 0;
}

#service1 > h3, #service2 > h3, #service3 > h3, #service4 > h3 {
    font-size: 2.6vh;
    font-weight: 100;
    padding: 2vh 2vh 1.5vh 0;
}

#service1 > p, #service2 > p, #service3 > p, #service4 > p {
    font-size: large;
    letter-spacing: 0.095vh;
    line-height: 3vh;
    font-weight: 100;
    color: hsl(233, 8%, 62%);
    padding: 2vh 0 2vh 0;
}

.article-heading {
    margin: 12vh 0 7vh 10vw;
    font-size: 4.5vh;
    font-weight: 130;
}

.articles-section {
    margin: 0 10vw 0 10vw;
    display: flex;
    flex-direction: row;
    height: 80vh;
    /* width: 100vw; */
    /* background-color: red; */
}

#article1 > img, #article2 > img, #article3 > img, #article4 > img {
    height: 30vh;
    width: 18vw;
    /* padding-bottom: 4vh; */
}

#article1 > div, #article2 > div, #article3 > div, #article4 > div {
    padding: 4vh 8vh 4vh 4vh;
}

#article1 > div  > .author, #article2 > div  > .author, #article3 > div  > .author, #article4 > div  > .author {
    font-size: 1.5vh;
}

#article1 > div > h4, #article2 > div > h4, #article3 > div > h4, #article4 > div > h4 {
    font-size: larger;
    padding: 2vh 2vh 2vh 0;
    font-weight: 500;
}

#article1 > div > h4:hover, #article2 > div > h4:hover, #article3 > div > h4:hover, #article4 > div > h4:hover {
    color :hsl(136, 65%, 51%)
}

#article1 > div > p, #article2 > div > p, #article3 > div > p, #article4 > div > p {
    color: hsl(233, 8%, 62%);
}

footer {
    /* margin: auto; */
    height: 20vh;
    width: 100vw;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.logo-social-container {
    /* background-color: red; */
    margin: 5vh 5vw 0 8.5vw;
    height: 15vh;
    width: 15vw;
}

.logo-footer {
    text-align: center;
    margin-left: 3vh;
    /* background-color: brown; */
}

.social-media {
    margin: auto;
    padding-top: 5vh;
    padding-left: 1.1vw;
}

.social-media > img  {
    padding: 0.3vw;
}

.links {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 30vw;
    padding: 5vh 3vh 1vh 3vh;
    margin-right: 14.5vw;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.links > div {
    padding-bottom: 1.5vh;
    /* background-color: aqua; */
}

.links > div > a {
    color: white;
    text-decoration: none;
}

.links > div > a:hover {
    color: hsl(136, 65%, 51%);
}

.copyright {
    /* background-color: blue; */
    height: 20vh;
    width: 15vw;
    text-align: right;
    color: hsl(233, 8%, 62%);
}

.copyright > button {
    margin: 5vh 0 2.5vh;
}


button {
    padding: 1.5vh 1.8vw;
    border-radius: 2.5vh;
    color: white;
    font-weight: bold;
    border: none;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

button:hover {
    background: linear-gradient(to right, hsl(120, 60%, 70%), hsl(180, 100%, 80%));
}

@media (max-width: 1100px) {
    main {
        height: 320vh;
    }
    .services-section {
        height: 160vh;
    }
    .services-text {
        padding: 0 10vw 0 0;
        text-align: center;
    }
    .services-container {
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    #service1, #service2, #service3, #service4 {
        text-align: center;
    }

    .articles-section {
        height: 140vh;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #article1 > img, #article2 > img, #article3 > img, #article4 > img {
        width: 38vw;
    }
    #article1, #article2, #article3, #article4 {
        /* align-self: center; */
        /* text-align: center; */
        width: 50%;
    }

}

@media screen and (max-width: 768px) {
    .header-btn {
        display: none;
    }

    .menu {
      display: block;
      padding-top: 3.5vh;
      position: absolute;
      right: 5vw;
      cursor: pointer;
    }

    .menuHide {
        display: none;
    }

    .menuShow {
        display: block;
        padding-top: 3.5vh;
        position: absolute;
        right: 5vw;
    }

    .closeMenuShow {
        display: block;
        padding-top: 3.5vh;
        position: absolute;
        right: 5vw;
    }

    .closeMenuHide {
        display: none;
    }

    .navbar {
      display: none; /* Initially hide on smaller screens */
    }

    .navbarShow a {
      padding: 10px;
      text-align: center;
    }

    .navbarShow {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 11vh; /* Adjust as needed */
      left: 5vw;
      margin: auto;
      width: 90%;
      background-color: white;
      z-index: 1;
      border-radius: 1vh;
    }
    .navbarHide {
        display: none;
    }

    .nav-home:hover, .nav-about:hover, .nav-contact:hover, .nav-blog:hover, .nav-careers:hover {
        text-underline-offset: 1vh;
    }
}

@media screen and (max-width: 660px) {
     .home-section {
        height: 120vh;
    }

    .home-container {
        position: absolute;
        top: 80vh;
        height: 30vh;
        width: 80vw;
        text-align: center;
    }

    #home-h1 {
        text-align: center;
    }
    #home-p {
        text-align: center;
    }
    
    .bg-img {
        display: none;
    }

    .bg-img-mobile {
        display: block;
        width: 100vw;
        /* position: absolute; */
    }
    .mockup-img {
        height: 105vh;
        width: 95vw;
        position: absolute;
        top: -21vh;
        left: 2.5vw;
    }
    main {
        height: 345vh;
    }
    .services-section {
        height: 170vh;
    }

    .articles-section {
        height: 150vh;
    }
    
    .article-heading {
        text-align: center;
        margin-left: 0;
    }

    #article1 > div, #article2 > div, #article3 > div, #article4 > div {
        padding: 3vh;
    }

    #article1 > img, #article2 > img, #article3 > img, #article4 > img {
        width: 32vw;
    }

    footer {
        height: 60vh;
        flex-direction: column;
        /* justify-content: space-between; */
    }
    
    .logo-social-container {
        align-items: center;
        margin: auto;
        height: 14vh;
        width: 50vw;
    }

    .logo-footer {
        text-align: center;
        margin: auto;
        
        /* background-color: brown; */
    }

    .logo-footer > img {
        margin: auto;
        display: block;
        margin-top: 3vh;
    }

    .social-media {
        text-align: center;
        padding-top: 2vh;
        padding-left: 0;
    }
    .social-media > img {
        padding: 1vw;
    }

    .links {
        flex-wrap: nowrap;
        margin: auto;
        padding-top: 0;
        padding-bottom: 0;
        height: 22.5vh;
        width: 50vw;
    }
    
    .links > div {
        text-align: center;
    }

    .copyright {
        margin: auto;
        width: 50vw;
        text-align: center;
    }
    .navbarShow {
        top: 11vh;
    }
}

@media screen and (max-width: 480px) {
    main {
        height: 490vh;
    }
    .home-section {
        height: 140vh;
    }
    .home-container {
        height: 40vh;
    }

    .services-section {
        height: 200vh;
    }

    .articles-section {
        flex-wrap: nowrap;
        justify-content: space-evenly;
        height: 250vh;
    }
    .articles-section > div {
        margin: auto;
        text-align: center;
    }

    #article1, #article2, #article3, #article4 {
        width: 90%;
        margin: 0;
    }
    #article1 > img, #article2 > img, #article3 > img, #article4 > img {
        width: 80vw;
    }

    .mockup-img {
        height: 80vh;
        top: -13vh;
    }

}